@charset "ISO-8859-1";

/*
body{
	background: url("Images/background-image.jpg");
	background-color:#F0F8FF;
    height: 100%;
    background-size:100%;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
  	backdrop-filter: blur(4px);
  	-webkit-backdrop-filter: blur(5px);
}
*/
.content{
  max-width:960px;
  margin: auto;
  padding:10px;
  padding-top:100px;
  padding-bottom:700px;
}
.Button{
  background-color: #4d4dff; 
  width:100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.Button{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.Button:hover{
	background-color:#ffffff;
	color: #0080ff;
}

.formdesign{
	background-color:#afd0eb;
	padding-left:35px;
	padding-right:35px;
	padding-top:30px;
	padding-bottom:40px;
	width: 450px;
	float:left;
	left:55%;
	position:absolute;
  	margin-top:30px;
	margin-left: -260px;
  	border-radius: 7px;
	}	
input[type=text],[type=email],textarea{
	width:100%;
	padding:12px;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
	margin-top:6px;
	margin-bottom:16px;
	resize:vertical;
	}
